In [1]:
import pandas as pd
data=pd.read_csv('INFY.csv',delimiter=',')    #used to load csv_file given

In [2]:
categories=set(data['Series'])              #used to find how many categories of Series column distinct values are present
categories

{'BL', 'EQ'}

In [3]:
date=data['Date']                          #used to display the date column
date

0      15-May-2017
1      16-May-2017
2      17-May-2017
3      18-May-2017
4      19-May-2017
          ...
491    07-May-2019
492    08-May-2019
493    09-May-2019
494    10-May-2019
495    13-May-2019
Name: Date, Length: 496, dtype: object

In [4]:
bol_arr=data['Series']!='EQ'                              #the bool array contains true values with given condition
l=list(data[bol_arr].index)                               #the corresponding indices of the rows in which previous condition is satisfied
pd.DataFrame.drop(data,index=l,axis=0,inplace=True)       #used to delete the previos rows from the data

In [5]:
data.head()                                               #used to display first 5 rows of dataframe

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,INFY,EQ,15-May-2017,964.25,963.5,963.50,949.10,953.25,951.55,951.49,3648582,3.471580e+09,75335,3052819,83.67
1,INFY,EQ,16-May-2017,951.55,953.1,960.15,946.95,956.00,955.00,952.92,3065084,2.920775e+09,71808,1858063,60.62
2,INFY,EQ,17-May-2017,955.00,951.6,958.45,943.85,952.90,952.80,949.48,1457754,1.384110e+09,75429,792251,54.35
3,INFY,EQ,18-May-2017,952.80,943.0,973.90,942.85,960.25,961.75,962.61,4028924,3.878282e+09,120990,2309450,57.32
4,INFY,EQ,19-May-2017,961.75,961.5,962.70,947.85,957.40,957.95,954.18,2128698,2.031155e+09,88897,1457747,68.48

In [6]:
data.tail()                                             #used to display last 5 rows of dataframe

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
491,INFY,EQ,07-May-2019,718.40,720.40,727.90,718.7,724.40,724.55,724.51,5747536,4.164127e+09,104342,3690425,64.21
492,INFY,EQ,08-May-2019,724.55,721.00,726.00,716.5,718.95,719.35,721.65,6247642,4.508603e+09,162077,3950857,63.24
493,INFY,EQ,09-May-2019,719.35,719.15,730.30,715.8,722.00,721.05,724.48,7396525,5.358635e+09,242225,4808832,65.01
494,INFY,EQ,10-May-2019,721.05,720.80,726.00,715.0,716.50,716.85,717.88,8352335,5.995942e+09,181229,5545377,66.39
495,INFY,EQ,13-May-2019,716.85,716.55,726.45,712.1,718.00,719.70,720.09,6808993,4.903098e+09,201194,4745909,69.70

In [7]:
data.describe()                                              #used to descibe the dataframe

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,4.940000e+02,4.940000e+02,494.000000
mean,961.440789,961.070040,971.092713,951.052733,960.845648,960.945749,961.166498,6.056365e+06,5.469840e+09,1.361482e+05,3.605878e+06,61.759008
std,220.761549,220.091227,222.968974,218.714372,220.968590,221.029267,221.102384,5.451445e+06,4.770342e+09,8.557589e+04,2.840733e+06,9.924135
min,619.100000,621.000000,628.000000,599.850000,619.500000,619.100000,613.780000,5.457170e+05,5.060941e+08,1.388600e+04,3.077410e+05,26.380000
25%,735.025000,736.187500,742.700000,729.012500,734.125000,734.462500,735.720000,3.148044e+06,3.350973e+09,9.246300e+04,2.064895e+06,55.142500
50%,956.750000,957.525000,964.775000,948.000000,956.025000,955.975000,955.060000,4.905804e+06,4.601808e+09,1.197605e+05,3.053880e+06,62.270000
75%,1150.150000,1145.412500,1161.675000,1135.962500,1147.950000,1150.150000,1148.280000,7.303918e+06,6.042062e+09,1.551745e+05,4.332777e+06,68.767500
max,1441.100000,1449.000000,1467.900000,1430.000000,1440.000000,1441.100000,1451.300000,8.220248e+07,7.662502e+10,1.192900e+06,4.202849e+07,88.700000

In [8]:
#Question 2

In [9]:
s=data.shape[0]                                        #the rows present in the dataframe
li=[]
for i in range(s-90,s,1):                              #usedto append the indices of last 90 rows
    li.append(i)
req_data=data.iloc[li]                                 #req_data contains the last 90 rows of data

In [10]:
print("Maximum value of the last 90 days closing price is :",req_data['Close Price'].max())         #Maximum closing price among last 90 rows
print("Minimum value of the last 90 days closing price is :",req_data['Close Price'].min())         #Minimum closing price among last 90 rows
print("Mean value of the last 90 days closing price is :",format(req_data['Close Price'].mean(),'.2f'))    #Average closing price among last 90 rows

Maximum value of the last 90 days closing price is : 767.25
Minimum value of the last 90 days closing price is : 658.95
Mean value of the last 90 days closing price is : 728.60

In [11]:
#Question 3

In [12]:
for curr in data.columns:                        #used to display the data types of corresponding columns
    print(curr,": ",data[curr].dtypes)

Symbol :  object
Series :  object
Date :  object
Prev Close :  float64
Open Price :  float64
High Price :  float64
Low Price :  float64
Last Price :  float64
Close Price :  float64
Average Price :  float64
Total Traded Quantity :  int64
Turnover :  float64
No. of Trades :  int64
Deliverable Qty :  int64
% Dly Qt to Traded Qty :  float64

In [13]:
data['Date']=data['Date'].astype('datetime64[ns]')               #convert the datatype of Date column from object to datetime64 format
data['Date']

0     2017-05-15
1     2017-05-16
2     2017-05-17
3     2017-05-18
4     2017-05-19
         ...
491   2019-05-07
492   2019-05-08
493   2019-05-09
494   2019-05-10
495   2019-05-13
Name: Date, Length: 494, dtype: datetime64[ns]

In [14]:
data['Date'].dtypes

dtype('<M8[ns]')

In [15]:
print(data['Date'].max()-data['Date'].min())                 #used to calculate the difference b/w the maximum and minimum b/w date values

728 days 00:00:00

In [16]:
#Question 4

In [17]:
data['Price']=(data['High Price']+data['Low Price']+data['Close Price'])/3        #the weighted_average_price is denoted by price in column

In [18]:
data['Year']=pd.DatetimeIndex(data['Date']).year                 #extract year from the date column 
data['Month']=pd.DatetimeIndex(data['Date']).month               #extract month from the date column
vwap=[]
for ele in list(data.groupby(['Year','Month'])):                 #used to group each eyear value with its month
    req=ele[1]                                                   #contains the data grouped 
    x=req['No. of Trades'].sum()                                 #calculate the sum of product of price and volume
    y=(req['Price']*req['No. of Trades']).sum()                  #calculathe total volume of data
    m=list(set(req['Month']))[0]                                 #the corresponding month
    p=list(set(req['Year']))[0]                                  #the corresponding year
    val=(y/x)                                                    #the VWAP value of the current month in current year
    print("VWAP value in month ",m," of year",p," is equal to ",val)
    vwap.append(y/x)
print()
print("=======================================================")
print("OUR VWAP ARRAY FOR EACH GROUP IS AS FOLLOWS :")
print()
print(vwap)
print("=======================================================")

VWAP value in month  5  of year 2017  is equal to  967.5936875762352
VWAP value in month  6  of year 2017  is equal to  948.9291543352551
VWAP value in month  7  of year 2017  is equal to  979.0978384765084
VWAP value in month  8  of year 2017  is equal to  929.6681888298825
VWAP value in month  9  of year 2017  is equal to  897.8903582183202
VWAP value in month  10  of year 2017  is equal to  930.3643245232862
VWAP value in month  11  of year 2017  is equal to  966.5859014568334
VWAP value in month  12  of year 2017  is equal to  1011.0075336206653
VWAP value in month  1  of year 2018  is equal to  1113.2304443014582
VWAP value in month  2  of year 2018  is equal to  1136.04063837507
VWAP value in month  3  of year 2018  is equal to  1162.1125870448693
VWAP value in month  4  of year 2018  is equal to  1146.1960534678144
VWAP value in month  5  of year 2018  is equal to  1196.4412285941223
VWAP value in month  6  of year 2018  is equal to  1260.1792575700106
VWAP value in month  7  of year 2018  is equal to  1332.0910408635302
VWAP value in month  8  of year 2018  is equal to  1394.7671149150146
VWAP value in month  9  of year 2018  is equal to  759.8854755649768
VWAP value in month  10  of year 2018  is equal to  689.6690486207187
VWAP value in month  11  of year 2018  is equal to  651.5344239188968
VWAP value in month  12  of year 2018  is equal to  670.8017813948201
VWAP value in month  1  of year 2019  is equal to  708.901360886275
VWAP value in month  2  of year 2019  is equal to  746.6869462902963
VWAP value in month  3  of year 2019  is equal to  725.9747135575781
VWAP value in month  4  of year 2019  is equal to  738.4913803929625
VWAP value in month  5  of year 2019  is equal to  722.1791762337089

=======================================================
OUR VWAP ARRAY FOR EACH GROUP IS AS FOLLOWS :

[967.5936875762352, 948.9291543352551, 979.0978384765084, 929.6681888298825, 897.8903582183202, 930.3643245232862, 966.5859014568334, 1011.0075336206653, 1113.2304443014582, 1136.04063837507, 1162.1125870448693, 1146.1960534678144, 1196.4412285941223, 1260.1792575700106, 1332.0910408635302, 1394.7671149150146, 759.8854755649768, 689.6690486207187, 651.5344239188968, 670.8017813948201, 708.901360886275, 746.6869462902963, 725.9747135575781, 738.4913803929625, 722.1791762337089]
=======================================================

In [19]:
#Question 5

In [20]:
print('Function to calculate the average of average price in last n days is :')

Function to calculate the average of average price in last n days is :

In [21]:
def f(n):
    req_data=data['Average Price'][data.shape[0]-n:]             #contains the Average price of rows of the last n days
    return req_data.mean()                                       #return the average of the average price of the last n days

In [22]:
def f(i,n):                                          
    req_data=data['Average Price'][data.shape[0]-n:]                    
    print("The average of the average price of last",i," is :",req_data.mean())
li=[('1 Week',7),('2 Weeks',14),('1 Month',31),('3 Months',92),('6 Months',182),('1 Year',365)]
for ele in li:
    f(ele[0],ele[1])

The average of the average price of last 1 Week  is : 721.7057142857144
The average of the average price of last 2 Weeks  is : 727.5971428571428
The average of the average price of last 1 Month  is : 736.8190322580643
The average of the average price of last 3 Months  is : 726.7693478260871
The average of the average price of last 6 Months  is : 765.7653846153845
The average of the average price of last 1 Year  is : 967.0384931506856

In [23]:
data['change']=(data['Close Price']-data['Prev Close'])/data['Prev Close']           #change column contains the profit or loss in price of each row
data['change']

0     -0.013171
1      0.003626
2     -0.002304
3      0.009393
4     -0.003951
         ...
491    0.008561
492   -0.007177
493    0.002363
494   -0.005825
495    0.003976
Name: change, Length: 494, dtype: float64

In [24]:
print('Function to calculate the average profit or loss of last n days is')

Function to calculate the average profit or loss of last n days is

In [25]:
def p_l(n):
    req=data['change'][data.shape[0]-n:].sum()             #change column contains the profit or loss in price of each row
    return abs(req/n)*100

In [26]:
def profit_loss(i,n):
    req_data=data['change'][data.shape[0]-n:].sum()
    if(req_data<0): 
        print('Last ',i," Average Loss percentage  of ",(abs(req_data/n))*100)
    else:
        print('Last ',i,"Average Profit percentage of ",(req_data/n)*100)

In [27]:
li=[('1 Week',7),('2 Weeks',14),('1 Month',31),('3 Months',92),('6 Months',182),('1 Year',365)]
for ele in li:
    profit_loss(ele[0],ele[1])

Last  1 Week  Average Loss percentage  of  0.2162936076637408
Last  2 Weeks Average Profit percentage of  0.03332681287558516
Last  1 Month  Average Loss percentage  of  0.06211404214824338
Last  3 Months Average Profit percentage of  0.12853977069325304
Last  6 Months  Average Loss percentage  of  0.24743091544765142
Last  1 Year  Average Loss percentage  of  0.027442203101592774

In [28]:
#Question 6

In [29]:
req_data=data['Prev Close']                             #contains the column prev close of all rows
data['Day_Perc_Change']=req_data.pct_change(periods =1)  #inbult func used to find  profit and loss in price
data['Day_Perc_Change']=data['Day_Perc_Change']*100      # multiply so that value lies in some specified percentage

In [30]:
print("The very first value came out to be Nan because the proceding value i.e before the first value is not provided in any dataframe thats why it gives diff as a result of Nan")

The very first value came out to be Nan because the proceding value i.e before the first value is not provided in any dataframe thats why it gives diff as a result of Nan

In [31]:
data['Day_Perc_Change'].fillna(0,inplace=True)         #replace the nan entries in corresponding column to 0

In [32]:
#data.head()

In [33]:
#Question 7

In [34]:
data['Trend']=''                           #make a column named trend and initially marked all values as empty string

In [35]:
data.loc[data['Day_Perc_Change'].between(-0.5,0.5,inclusive=False),'Trend']='Slight or No change'

In [36]:
data.loc[data['Day_Perc_Change'].between(0.5,1,inclusive=False),'Trend']='Slight Positive'

In [37]:
data.loc[data['Day_Perc_Change'].between(-0.5,-1,inclusive=False),'Trend']='Slight Negative'

In [38]:
data.loc[data['Day_Perc_Change'].between(1,3,inclusive=False),'Trend']='Positive'

In [39]:
data.loc[data['Day_Perc_Change'].between(-1,-3,inclusive=False),'Trend']='Negative'

In [40]:
data.loc[data['Day_Perc_Change'].between(3,7,inclusive=False),'Trend']='Among top gainers'

In [41]:
data.loc[data['Day_Perc_Change'].between(-3,-7,inclusive=False),'Trend']='Among top Losers'

In [42]:
data.loc[data['Day_Perc_Change']>7,'Trend']='Bull run'

In [43]:
data.loc[data['Day_Perc_Change']<-7,'Trend']='Bear drop'

In [44]:
(data['Trend'])

0      Slight or No change
1
2      Slight or No change
3      Slight or No change
4          Slight Positive
              ...
491
492        Slight Positive
493
494    Slight or No change
495
Name: Trend, Length: 494, dtype: object

In [45]:
#Question 8

In [46]:
data['Trend'].replace('','No specified trend',inplace=True)          #replace all the empty trend to no specified trend            #extract the trends having specific trends as specified in question

In [47]:
print("Average among total_traded_quantity on various trends are as follows :")

Average among total_traded_quantity on various trends are as follows :

In [48]:
data.groupby('Trend').mean()['Total Traded Quantity']    #give the mean value of corresponding trend  among total traded quantity

Trend
Among top gainers      1.427291e+07
Bear drop              2.693128e+07
No specified trend     5.806829e+06
Positive               5.975455e+06
Slight Positive        6.101153e+06
Slight or No change    5.437268e+06
Name: Total Traded Quantity, dtype: float64

In [49]:
print("Median among total_traded_quantity on various trends are as follows :")

Median among total_traded_quantity on various trends are as follows :

In [50]:
data.groupby('Trend').median()['Total Traded Quantity']  #give the median value of corresponding trend  among total traded quantity

Trend
Among top gainers       8171820.0
Bear drop              26931283.0
No specified trend      5427054.0
Positive                4873208.0
Slight Positive         5140310.5
Slight or No change     4262771.0
Name: Total Traded Quantity, dtype: float64

In [51]:
data.to_csv('week2.csv')

In [55]:
new_data=pd.read_csv('week2.csv',delimiter=',')
new_data['Date'].dtype

dtype('O')